@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,700');

* {
  box-sizing: border-box;
}
html{
  height: 100%;
}
html,body{
  min-height: 100%;
}
main{
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  padding: 50px;
}
h1{
  font-family: 'Playfair Display', serif;
}

p.first:first-letter{
  font-family: 'Playfair Display', serif;
  /*padding: 0 10px 10px 0;*/
  margin: 0 10px 2px 0;
  float: left;
  font-size: 30px;
  display: inline;
}
h3{
  display: inline-block;
  padding: 5px 30px;
  font-weight: bold;
  border: 1px solid orange;
  border-bottom: none;
}
blockquote{
  font-style: italic;
}
